# Local secrets
.ssh/

# Quartus project user/session files
*.qws
*.qsf
*.jdi
*.done
*.sld
*.smsg
*.qmsg
*.summary
*.rpt
*.pin
*.eqn
*.tan.*
*.fit.*
*.map.*
*.sta.*
*.flow.*
*.asm.*
*.jditmp
*.hif
*.html

# Quartus databases and incremental builds
db/
incremental_db/

# Quartus programming/output artifacts
output_files/
*.sof
*.pof
*.rbf
*.rpd
*.svf
*.sdo

# Generic simulation/temp artifacts
transcript
vsim.wlf
*.wlf
*.vcd
*.vpd
*.bak
*.tmp
*.asm
build/
logs/
*.xml
*.log
sim/
sw/*.hex
csrc/
ucli.key
*.logs*.pyc
*.mode64
*.txt
*.json
*.jsonl
*.json
*.hex
*.js

verilator_tb/obj_dir
verilator_tb/obj_dir_diff

# Local PDK / EDA collateral
USC-3N-2D/

# Backend flow generated artifacts
backend_flow/alib-*/
backend_flow/cksum_dir/
backend_flow/libcache/*.db
backend_flow/logs/
backend_flow/out/
backend_flow/pdk_cache/
backend_flow/reports/
backend_flow/work_dir/
backend_flow/*.mr
backend_flow/*.pvl
backend_flow/*.syn
backend_flow/*.svf
backend_flow/command.log
backend_flow/icc2_command.log
backend_flow/icc2_output.txt
